.header{
    height: var(--height-header);
}

.logo {
    width: 80px;
    height: 70px;
    background: url('/img/logo.png') no-repeat;
    background-size: cover;
    float: left;
    margin-left: 120px;
    margin-top: 15px;
}

.header_h1 {
    width: 381px;
    float: left;
    margin-left: 30px;
    margin-top: 25px;
    font-size: var(--font-size-h1);
    font-family: var(--font-family-h);
    color: var(--color-dark-green);
}